/* changing color of header */
h1 {
    background-color:azure;
    text-align: center;
}
/* current weather */
label {
    margin-top: 30px;
    font-size: 25px;
}
/* space between the future forecast */
.card {
    margin: 20px;
}
/* for the history of searches */
.histBtnRow {
margin-top: 10px;
margin-bottom: 10px;

}

.icons {
    height: 50px;
    width: 50px;
}





